body {
  font-family: sans-serif;
  background-color: #263238;
}
h1, h2 {
  color: #fff;
}
header h1 {
  position: absolute;
  top: 10px;
  right: 40px;
}
.logo {
  max-width: 200px;
}
header .hamburger {
  display: none;
}


a {
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}
nav {
  position: absolute;
  left: 0;
  top: 80px;
  height: 100vh;
  width: 220px;
  padding: 20px 0;
  z-index: 3;
  background-color: #263238;
  transition: left .3s ease-in-out;
}
nav li {
  padding: 10px;
}
nav li.selected {
  background-color: #fff;
}
nav li a {
  min-height: 40px;
  width: 100%;
  display: block;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}
nav li.selected a {
  color: #263238;
}


content {
  position: absolute;
  left: 260px;
  top: 80px;
}
.data-section {
  display: none;
}
.data-section.selected {
  display: block;
}
.card {
  color: #fff;
}
.barChart, .card {
  display: inline-flex;
  flex-flow: column;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #37474F;
  width: 380px;
  box-sizing: border-box;
}
.barChart h3 {
  display: inline-block;
}

/* Material design 200 colors (good for labels) */
.mdB0BEC5 g.tick, .mdB0BEC5 h3 { color: #B0BEC5; }
.mdEEEEEE g.tick, .mdEEEEEE h3 { color: #EEEEEE; }
.mdBCAAA4 g.tick, .mdBCAAA4 h3 { color: #BCAAA4; }
.mdFFAB91 g.tick, .mdFFAB91 h3 { color: #FFAB91; }
.mdFFCC80 g.tick, .mdFFCC80 h3 { color: #FFCC80; }
.mdFFE082 g.tick, .mdFFE082 h3 { color: #FFE082; }
.mdFFF59D g.tick, .mdFFF59D h3 { color: #FFF59D; }
.mdE6EE9C g.tick, .mdE6EE9C h3 { color: #E6EE9C; }
.mdC5E1A5 g.tick, .mdC5E1A5 h3 { color: #C5E1A5; }
.mdA5D6A7 g.tick, .mdA5D6A7 h3 { color: #A5D6A7; }
.md80CBC4 g.tick, .md80CBC4 h3 { color: #80CBC4; }
.md80DEEA g.tick, .md80DEEA h3 { color: #80DEEA; }
.md81D4FA g.tick, .md81D4FA h3 { color: #81D4FA; }
.md90CAF9 g.tick, .md90CAF9 h3 { color: #90CAF9; }
.md9FA8DA g.tick, .md9FA8DA h3 { color: #9FA8DA; }
.mdB39DDB g.tick, .mdB39DDB h3 { color: #B39DDB; }
.mdCE93D8 g.tick, .mdCE93D8 h3 { color: #CE93D8; }
.mdF48FB1 g.tick, .mdF48FB1 h3 { color: #F48FB1; }
.mdef9a9a g.tick, .mdef9a9a h3 { color: #ef9a9a; }

/* Material design 500 colors good for bars */
.md607D8B rect.bar { fill: #607D8B; }
.md9E9E9E rect.bar { fill: #9E9E9E; }
.md795548 rect.bar { fill: #795548; }
.mdFF5722 rect.bar { fill: #FF5722; }
.mdFF9800 rect.bar { fill: #FF9800; }
.mdFFC107 rect.bar { fill: #FFC107; }
.mdFFEB3B rect.bar { fill: #FFEB3B; }
.mdCDDC39 rect.bar { fill: #CDDC39; }
.md8BC34A rect.bar { fill: #8BC34A; }
.md4CAF50 rect.bar { fill: #4CAF50; }
.md009688 rect.bar { fill: #009688; }
.md00BCD4 rect.bar { fill: #00BCD4; }
.md03A9F4 rect.bar { fill: #03A9F4; }
.md2196F3 rect.bar { fill: #2196F3; }
.md3F51B5 rect.bar { fill: #3F51B5; }
.md673AB7 rect.bar { fill: #673AB7; }
.md9C27B0 rect.bar { fill: #9C27B0; }
.mdE91E63 rect.bar { fill: #E91E63; }
.mdf44336 rect.bar { fill: #f44336; }

@media (max-width: 710px) {
  content {
    left: auto;
    top: auto;
    position: relative;
  }
  nav {
    left: -300px;
  }
  nav.is-active {
    left: 0;
  }
  header {
    display: flex;
    flex-flow: column;
  }
  header h1 {
    position: relative;
    top: auto;
    right: auto;
  }
  body {
    margin: 8px 12px;
  }
  header .hamburger {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
}




/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
